*{
    margin :0;
    padding :0;
    box-sizing : border-box;
    }

    #box{
       display: flex;
       justify-content: center;
         align-items: center;
        height : 200px;
        width : 200px;
        background-color : lightblue;
        margin : 40%
    }
    #car1{
        
        height : 50px;
        width : 50px;
        background-color : red;
        
    }
    #car2{
        
        height : 50px;
        width : 50px;
        background-color : green;
       
    }